<div class="comment-list bt style-2" id="comments">
  <div class="float-wrapper">
    <h4 class="comment-count"><%= soliloquy.post_comments.count %>件コメント</h2>
  </div>
<%= render 'layouts/errors', resource: @post_comment %>
									  	<% if flash[:notice] %>
											<div class="flash">
												<%= flash[:notice] %>
											</div>
										<% end %>


	<table id="js-table-comment", class="table">
		<% soliloquy.post_comments.each do |post_comment| %>
			<% if post_comment.user.is_deleted == "Invaild" %>
			<% else %>
			<tr>
				   	<td width="120">
				    	<%= link_to user_path(post_comment.user) do %>
				    		<%= attachment_image_tag(post_comment.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100") %>
				    	<% end %>
				    </td>
			    	<td width="150">
				    	<%= post_comment.user.name %>
				    			<p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
				    	<p><% if post_comment.user.id == current_user.id %>
		      					<%= link_to soliloquy_post_comment_path(soliloquy, post_comment), method: :delete, class: "btn-sm btn-danger", remote: true do %>
		      						<i>削除</i>
		      					<% end %>
		    				<% end %>
		    			</p>
	    			</td>
					<td>
	        	<%= post_comment.comment %>
					</td>
				</tr>
			<% end %>
		<% end %>
	<table>
</div>