
<div class="container solshow-background">
  <div class="row">
    <div style="">
      <h4 class="text-center">あなたの思いを正確につぶやこう</h4>
    </div>
  </div>
	<br>
	<br>

	<div class="row">

			<div class="">
        <%= form_with model: @soliloquy, url: soliloquies_path, local: true do |f| %>
					<%= render 'layouts/errors', resource: @soliloquy %>
		        <% if flash[:notice] %>
							<div class="flash">
								<%= flash[:notice] %>
							</div>
						<% end %>
<br>


        <br>
					<table class="table">

						<thead>
							<tr>
								<th class="text-center center-th" ,width = 200px, height = 50px>つぶやきタイトル</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_field :title, autocomplete: "title", :size=>"50", class:"center" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th class="text-center center-th" , width = 200px, height = 50px>何に対し(どのような現象に)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_area :object, autofocus: true, autocomplete: "object", :size=>"150", class:"center", :style=>"height: 100px" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th class="text-center center-th" , width = 200px, height = 50px>何をして（どんな立場か、どんなタイミングで見たか）</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_area :what_do, autofocus: true, autocomplete: "what_do", :size=>"150", class:"center", :style=>"height: 100px" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th class="text-center center-th" , width = 200px, height = 50px>何を思ったか</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_area :how_feel, autofocus: true, autocomplete: "how_feel", :size=>"150", class:"center", :style=>"height: 100px" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th class="text-center center-th" , width = 200px, height = 50px>自分は何をしなければいけないのか？また似た分野では何ができているか？</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_area :must_and_can, autofocus: true, autocomplete: "must_do", :size=>"150", class:"center", :style=>"height: 100px" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th class="text-center center-th" , width = 200px, height = 50px>自分ができることに対し何を今までしてきたか</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_area :did_action, autofocus: true, autocomplete: "did_action", :size=>"150", class:"center", :style=>"height: 100px" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th class="text-center center-th" , width = 200px, height = 50px>このつぶやきは何が目的か</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.text_area :purpose_soliloquy, autofocus: true, autocomplete: "purpose_soliloquy", :size=>"150", class:"center", :style=>"height: 100px" %></td>
							</tr>
						</tbody>

						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center center-th"><%= f.submit "つぶやく", class:"btn btn-success sign_up" %></td>
							</tr>
						</tbody>

					</table>
      </div>
    </div>
  			<% end %>

</div>