<div class="container">
	<div class="row">

		<h2>つぶやき詳細</h2>

			<table class="table table-hover">
				<tbody>
					<tr>
						<th class="table-noborder">タイトル</th>
						<td class="table-noborder"><%= @soliloquy.title %></td>
					</tr>
					<tr>
						<th class="table-noborder">何に対して</th>
						<td class="table-noborder"><%= @soliloquy.object %></td>
					</tr>
					<tr>
						<th class="table-noborder">何をして（何を見て）</th>
						<td class="table-noborder"><%= @soliloquy.what_do %></td>
					</tr>
					<tr>
						<th nowrap class="table-noborder">どう感じたか</th>
						<td class="table-noborder"><%= @soliloquy.how_feel %></td>
					</tr>
	                <tr>
						<th nowrap class="table-noborder">自分はそれに対し何をしなければいけないのか？また似た分野では何ができているか？</th>
						<td class="table-noborder"><%= @soliloquy.must_and_can %></td>
					</tr>
					<tr>
						<th nowrap class="table-noborder">自分ができていることに対して何を今までしてきたか</th>
						<td class="table-noborder"><%= @soliloquy.did_action %></td>
					</tr>
					<tr>
						<th nowrap class="table-noborder">このつぶやきは何が目的か？</th>
						<td class="table-noborder"><%= @soliloquy.purpose_soliloquy %></td>
					</tr>

					<tr>
						<th class="table-noborder"> </th>
						<td align="right" class="table-noborder">
							<%#= link_to "編集ページへ", edit_admin_product_path, class:"btn btn-info btn-md" %>
						</td>
					</tr>

					<tr>
						<td>
							<div id="favorites_buttons_<%= @soliloquy.id %>">
							<%= render "favorites/favorite", soliloquy: @soliloquy %>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div id="post_comment_<%= @post_comment.id %>">
								<%= render "post_comments/post_comment", soliloquy: @soliloquy, post_comment: @post_comment %>
								<%#= render partial: 'post_comments/post_comment', locals: { soliloquy: @soliloquy, post_comment: @post_comment} %>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>