<div class="container">

	<div class="row">
		<h2 class="text-center tubuyaki-title">つぶやき詳細</h2>
	</div>

<br>

		<div class="row text-center tubuyaki-title">
			<div class="col-lg-6">
				<%= link_to "投稿ユーザーのページへ", user_path(@soliloquy.user_id) , class: "btn btn-primary" %>
			</div>
			<div class="col-lg-6">
				<%= link_to "このつぶやきを削除する", soliloquy_path(@soliloquy), method: :delete, class: "btn btn-danger" %>
			</div>
		</div>


		<br>

  <div class="row">
			<div class="solshow-background">

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">タイトル</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.title %></td>
				</tbody>
			</table>

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">何に対して</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.object %></td>
				</tbody>
			</table>

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">何をして（何を見て）</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.what_do %></td>
				</tbody>
			</table>

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">どう感じたか</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.how_feel %></td>
				</tbody>
			</table>

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">自分はそれに対し何をしなければいけないのか？また似た分野では何ができているか？</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.must_and_can %></td>
				</tbody>
			</table>

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">自分ができることに対して何を今までしてきたか</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.did_action %></td>
				</tbody>
			</table>

			<table class="table table-hover table-striped w-100">
				<thead>
				  <tr>
				    <th class="text-center center-th", style="width: 3000px">このつぶやきは何が目的か</th>
				  </tr>
				</thead>
				<tbody>
				  <td class="text-center", style="width: 3000px"><%= @soliloquy.purpose_soliloquy %></td>
				</tbody>
			</table>

					<tr>
						<td>
							<div id="favorites_buttons_<%= @soliloquy.id %>">
							<%= render "favorites/favorite", soliloquy: @soliloquy %>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<!--<div id="post_comment_<%#= @post_comment.id %>">-->
								<%#= render "post_comments/post_comment", soliloquy: @soliloquy, post_comment: @post_comment %>
								<div>


								<%= form_with(model: @post_comment, url: soliloquy_post_comments_path(@soliloquy), remote: true) do |f| %>


								  	<div class="row">
								    	<div class="col-sm-12">
								      		<%= f.text_area :comment, rows:'2', class: "form-control comment-create", placeholder: "コメントをここに" %>
								    	</div>
								  	</div>
								  	<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
								  <% end %>




								<%= render partial: 'post_comments/post_comment', locals: { soliloquy: @soliloquy, post_comment: @post_comment} %>

							</div>
						</td>
					</tr>

			</div>

			<br>
			<br>
			<br>
			<br>


	</div>
</div>