<!DOCTYPE html>
<html>
  <head>
    <title>friend-partner</title>
    <%= csrf_meta_tags %>s
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
    <body>
      <header class="navbar navbar-inverse">
        <div class="container">
          <nav class='nav navbar-nav navbar-left'>

          <%= link_to root_path do %>
            <span><%#= image_tag "logo3.jpg", :size => "280x100" %></span>
          <% end %>

          </nav>
            <nav>
              <ul class="nav navbar-nav navbar-right" style="margin-top: 45px;">
                <%# if admin_signed_in? %>
                  <!--<li><%#= link_to "商品一覧", admin_products_path %></li>-->
                  <!--<li><%#= link_to "会員一覧", admin_customers_path %></li>-->
                  <!--<li><%#= link_to "注文履歴一覧", admin_orders_path %></li>-->
                  <!--<li><%#= link_to "ジャンル一覧", admin_genres_path %></li>-->
                  <!--<li><%#= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>-->
                <%# elsif customer_signed_in? %>
                <% if user_signed_in? %>
                  <li>
                    <!--<h4 style="color: white; margin-top: 15px;">ようこそ、<%#= current_customer.name %>さん！</h4>-->
                  </li>
                  <li><%= link_to "about", about_path %></li>
                  <li><%= link_to "マイページ", user_path(current_user.id) %></li>
                  <li><%= link_to "会員一覧", users_path %></li>
                  <li><%= link_to "みんなのつぶやき", soliloquies_path %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  <!--<li><%#= link_to "マッチングリスト", cart_products_path %></li>-->
                <% else %>
                  <li><%= link_to "TOP画面", root_path %></li>
                  <li><%= link_to "about", about_path %></li>
                  <li><%= link_to "新規登録", new_user_registration_path %></li>
                  <li><%= link_to "ログイン", new_user_session_path %></li>
                <% end %>
              </ul>
            </nav>
        </div>
  </header>
  <div class="body">
    <%= yield %>
  </div>
  <!--<footer class="navbar navbar-inverse" style= "margin-bottom: 0;">-->
  <!--</footer>-->
  </body>

</html>





<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>UnmeiPartner</title>-->
<!--    <%#= csrf_meta_tags %>-->
<!--    <%#= csp_meta_tag %>-->

<!--    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
<!--    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
<!--  </head>-->

<!--  <body>-->
<!--    <%#= yield %>-->
<!--  </body>-->
<!--</html>-->
